@charset "UTF-8";

body {
	padding-top: 75px;
}
.navbar-right .btn-group {
	margin-right: 10px;
}
.jumbotron h1 {
	margin-bottom: 30px;
}
.toolbar {
	margin-bottom: 10px;
}
.toolbar label {
	margin-left: 10px;
}
.search {
	margin-left: 5px;
}
.sum span {
	margin-right: 20px;
}
.page {
	height: 34px;
	margin-right: 10px;
	line-height: 34px;
}
.footer {
	height: 60px;
	margin-top: 30px;
	padding-top: 20px;
	background-color: #eee;
}
#replyContent {
	height: 100px;
	resize: none;
}

/* By Ming */
